
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #7f5ccf;
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    text-align: center;
    color: #555;
    font-size: 1rem;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e9ecef;
}

.content-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.content-container h2 {
    color: #333;
}

.content-container p {
    margin: 10px 0;
    color: #777;
    font-size: 1.1rem;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #9b59b6;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    font-size: 1.1rem;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #8e44ad;
    transform: translateY(-5px);
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 10px rgb(255, 42, 241);
}

@media (max-width: 600px) {
    .content-container {
        padding: 20px;
    }

    .btn {
        width: 100%;
        padding: 12px;
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}
