<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login - Usuário Comum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_login_comum.css') }}">
</head>
<body>
<div class="login-container">
    <h2>Login - Usuário Comum</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
        
        <form action="{{ url_for('login_comum') }}" method="post">
            <label for="nome">Usuário:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>

            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>
